.main {
    display: flex;
    gap: 16px;
    list-style: none;
    padding-left: 0;
    margin: auto;
}
* {
    box-sizing: border-box;
}


body {
    font-size: size 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #043263;
    color: white;
}


.main-title{
    color: rgb(240, 207, 3);
}
.main-nav{
    grid-area: nav;
}


.sidebar{
    grid-area: sidebar;
}
.main-footer{
    grid-area: footer;
}


.main-nav ul{
    display: flex;
    gap: 18px;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
}


.main-nav ul {
    flex-direction: column;
}


.sidebar {
    border-left: none;
    padding: 0;
}


.sidebar{
    grid-area: sidebar;
    border-left: 0;
    padding: 18px;
}


.main-footer ul{
    display: flex;
    gap: 18px;
    list-style: none;
}


@media (max-width= 765px){
    .grid-container{
        grid-template-columns: 100%;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "sidebar"
        "footer";
    }
}





